@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

body {
  font-family: "Cute Font", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("img/makanan.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
}

.container {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  background-color: rgba(146, 169, 192, 0.5);
  border: solid;
}

.container label {
  font-size: 23px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#pengguna {
  flex: content;
}

label {
  flex-basis: 20%;
  font-size: 14px;
  margin-bottom: 10px;
}

select,
input[type="number"] {
  flex-basis: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="submit"] {
  flex-basis: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #4caf50;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}

.daftar button {
  border-radius: 7px;
}
.daftar {
  text-align: center;
}

.btnLogout,
#btnAction {
  background-color: #4caf50;
  padding: 5px 10px;
  border-radius: 10px;
}

#btnAction a {
  color: white;
}

.btnLogout a {
  color: #fff;
}
